{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{post['title']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p class="body spacing">{{post['body']}}</p>
  <form action="{{ url_for('blog.show_post',id=post['id'],author=post['username'])}}" method="post" class="opin" id="myForm">
        {% if '('+(post['id']|string())+')' in user['liked_posts'] %}
            <button name="opinion" value='Like' class="opinion" id='Like' type="submit" style='background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB)'>Like</button>
		{% else %}
            <button name="opinion" value='Like' class="opinion" id='Like' type="submit" style='background-color:gray'>Like</button>	
        {% endif %} 
  </form>	
        <span class='count' id='textLike'>{{post['likes']}}</span>
  <form action="{{ url_for('blog.show_post',id=post['id'],author=post['username'])}}" method="post" class="opin" id="myForm">	
		{% if '('+(post['id']|string())+')' in user['disliked_posts'] %}
		    <button name="opinion" value='Dislike' class="opinion" id='Dislike' type="submit" style='background-image: linear-gradient(135deg, #f34079 40%, #fc894d)'>Dislike</button>
		{% else %}
			<button name="opinion" value='Dislike' class="opinion" id='Dislike' type="submit" style='background-color:gray'>Dislike</button>
        {% endif %} 
  </form>		
        <span class='count' id='textDislike'>{{post['dislikes']}}</span>
		<div class='comment'>
			<textarea name="comment" id="commentArea"></textarea> 
			<button name="comment" value='Comment' id='toComment' type="submit" style='background-image: linear-gradient(#37ADB2, #329CA0)'>publish</button>
		</div>
		<div id='containerComment'>
			{% for comment in comments_post %}
				<div class='show_comment'>
					<p>{{ comment['body'].replace("%3F","?") }}</p>
					<p class="about">by {{ comment_publishers[loop.index0] }} on {{ comment_times[loop.index0]}}</p>
				</div>
				{% if comment_publishers[loop.index0]==g.user['username'] %}
					<form action="{{ url_for('blog.update_comment', id=comment['id'])}}" method="get" id='Edit'>
						<button name="userAction" value='editComment' id='toEdit' class='bo' type="submit" style='background-image: linear-gradient(#37ADB2, #329CA0)'>Edit</button>
					</form>
				{% endif %}
			{% endfor %}
		</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
		  
		  	  
<script type="text/javascript">
function setColor(val){
			let opinion = document.getElementById(val);
			let cssObj = window.getComputedStyle(opinion, null);
			let bgColor = cssObj.getPropertyValue("background-color");
			let bgColorTwo="";
			let text="";
			if (val=='Like'){
				text=document.getElementById('textLike');
				let opinionTwo = document.getElementById('Dislike');
				let cssObjTwo = window.getComputedStyle(opinionTwo, null);
				bgColorTwo = cssObjTwo.getPropertyValue("background-color");
			}
			else{
				text=document.getElementById('textDislike');
				let opinionTwo = document.getElementById('Like');
				let cssObjTwo = window.getComputedStyle(opinionTwo, null);
				bgColorTwo = cssObjTwo.getPropertyValue("background-color");
			}
			if (bgColor=='rgb(128, 128, 128)'){
				if (val=='Like' && bgColorTwo=='rgb(128, 128, 128)'){
				bgColor="linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB)";
				text.innerHTML = (parseInt(text.textContent)+1).toString();
				}
				else if (val=='Dislike' && bgColorTwo=='rgb(128, 128, 128)'){
				bgColor="linear-gradient(135deg, #f34079 40%, #fc894d)";
				text.innerHTML = (parseInt(text.textContent)+1).toString();
				}
			}
			else{
			bgColor="gray";
			text.innerHTML = (parseInt(text.textContent)-1).toString();
			}
			opinion.style.background=bgColor;
		}
</script>


<script>
    $('.opinion').on('click',function(e)
                   {
      console.log('hello');
	  let val = $(this).val();
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/post/'+'{{post["id"]}}',
        data:{
          opinion:val
        },
        success:function()
        {
			setColor(val);
        }
      })
    });
 </script>
 
 <script>
    $('#toComment').on('click',function(e)
                   {
      let comment_text=document.getElementById('commentArea');
	  let comments=document.getElementById('containerComment');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/post/'+'{{post["id"]}}',
        data:{
          comment:comment_text.value
        },
        success:function()
        {

			
			let new_comment=document.createElement('p');
			new_comment.innerHTML=comment_text.value;
			let author_date=document.createElement('p');
			let simple_br=document.createElement('br');
			let date = new Date();
			//alert(new_comment.innerHTML);
			
			const day = date.toLocaleString('default', { day: '2-digit' });
			const month = date.toLocaleString('default', { month: '2-digit' });
			const year = date.toLocaleString('default', { year: 'numeric' });
			const time=date.toLocaleTimeString()
			let strDate=year+ '-' + month + '-' + day+' '+time;
			
			author_date.innerHTML="by " +"{{ g.user['username']}}" +" on " +strDate; //need to solve
			
			let show_comment_div=document.createElement('div');
			let appended_comment=show_comment_div.appendChild(new_comment);
			appended_comment=appended_comment.appendChild(author_date);
			appended_comment=appended_comment.appendChild(simple_br);
			
			//let date = new Date().toLocaleDateString("iw-IL");
			//alert(date);
			//alert(comments.innerHTML);
			//alert(new_comment.innerHTML);
			show_comment_div.classList.add("show_comment");
			//show_comment_div.style.display='block'; //test
			author_date.classList.add("about");
			appended_comment=comments.appendChild(show_comment_div);
			comment_text.value='';//works
        }
      })
    });
 </script>
 

{% endblock %}


